.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* SMARTPHONE */
@media all and (max-width: 419px) {
  
  /* BLOCCO LEZIONI SMARTPHONE */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* BLOCCO STEPS SMARTPHONE */
  #steps {
    padding-top: 5px;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    margin-top: 60px;
  }
  
  /* BLOCCO PERCHE' SMARTPHONE */
  #why {
    padding-top: 60px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin: 30px 0;
  }
  
  #why .row img {
    height: 100px;
  }

  #why hr {
    margin: 40px 0;
  }

  #why h1 {
    margin: 0;
  }

  /* COMMON */
    .row {
      width: auto;
      margin: 0;
      font-size: 1.5rem;
    }
    
    h1 {
      font-size: 1.8em;
    }
}